body{
    background: url(../../public/images/b-map-adj.jpg);
}

.about-container {
    display: grid !important;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 2rem;
    margin: auto;
    margin-top: 2%;
    width: 96vw !important;
    /* max-height: 98vh; */
    
}

.card {
    border: 1px solid black !important;
    width: 80% !important;
    height: auto;
    padding: 0.25rem;
    margin: auto;
    background-color: rgba(245, 245, 245, 0.8) !important;
}

.card:hover {
    transform: scale(1.025);
    transition: all 0.25s ease-in-out;
}

.card-image {
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.title {
    font-size: 2rem !important;
    margin: auto;
    margin-top: 0.5rem !important;
    width: fit-content;
}

.bio {
    margin-top: 1rem !important;
    font-size: 1.25rem;
    font-family:Arial, Helvetica, sans-serif
}

.link-container{
    height: 2rem;
    width: fit-content;
    margin: 0 auto;
}