.profile-container {
    display: grid;
    grid-template-rows: 35% 65%;
}

.profile-information {
    position: relative;

}

.favorite-locations {
    display: block;
    /* margin: 5px; */
}

.favorites-card {
    position: relative;
    display: block;
    border: 1px solid black;
    border-radius: .5rem;
    width: 99vw;
    height: auto;
    margin: 5px;
    padding: 5px;
}

.location-image {
    position: absolute;
    top: 7%;
    right: 7%;
    justify-self: center;
    width: auto;
    height: 8rem;
}
