.Header {
  background-color: hsl(0, 0%, 80%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

.icon {
  width: 1.2rem;
  height: auto;
}

#profile-icon {
  width: 1.5rem;
  height: auto;
}

.search {
  width: 30rem !important;
}

.siteName {
  text-decoration: none;
  color:black;
  font-family: "Kanit", Verdana, sans-serif;
  font-weight: bolder;
}